<div class="container">
  <div style="text-align: center">
    <h1>{{ title }}</h1>
  </div>

  <div class="d-flex f-wrap" style="background-color: darkgray">
    <!-- start Condicional IF -->
    <div class="p-1r border">
      <h2>Condicional IF</h2>
      <div style="width: 100px; height: 100px">
        <img
          [src]="img"
          style="width: 100%; height: 100%"
          alt="Placeholder Image"
        />
      </div>
      <div>
        <label for="name">Framework:</label>
        <input
          type="text"
          [value]="framework"
          (change)="changeHandler($event)"
        />
      </div>
      <div>
        <label for="name">Versión:</label>
        <input type="number" [value]="version" />
      </div>
      <button class="btn" (click)="clickHandler()" [disabled]="disabled">
        Click me (disabled)
      </button>
      <div>
        <p>Hola, soy {{ framework }} y mi versión es {{ version }}</p>
      </div>
      <div>
        <h3>Old "ngIf"</h3>
        <div class="pb-1r">
          <div *ngIf="1 === 1">Soy <strong>1 (uno)</strong>, con "ngIf"</div>
          <div *ngIf="1 !== 1">No soy <strong>1 (uno)</strong>, con "ngIf"</div>
        </div>
        <div>
          <div
            *ngIf="framework === 'Angular' && version > 17; else miBloqueSimple"
          >
            Soy {{ framework }} y soy la versión mayor a 17
          </div>
          <ng-template #miBloqueSimple>
            Soy {{ framework }} y soy la versión menor a 18
          </ng-template>
        </div>
      </div>
      <div>
        <h3>New "If"</h3>
        <div class="pb-1r">
          @if(1 === 1) {
          <div>Soy <strong>1 (uno)</strong>, con "if"</div>
          } @else {
          <div>No soy <strong>1 (uno)</strong>, con "if"</div>
          }
        </div>
        <div>
          @if(framework === 'Angular' && version > 17) {
          <div>Soy {{ framework }} y soy la versión mayor a 17</div>
          } @else {
          <div>Soy {{ framework }} y soy la versión menor a 18</div>
          }
        </div>
      </div>
    </div>
    <!-- end Condicional IF -->
    <!-- start Condicional IF con Objeto -->
    <div class="p-1r border">
      <h2>Condicional IF con Objeto</h2>
      <div style="width: 100px; height: 100px">
        <img
          [src]="person().avatar"
          style="width: 100%; height: 100%"
          alt="Placeholder Image"
        />
      </div>
      <div>
        <label for="name">Nombre:</label>
        <input
          type="text"
          [value]="person().name"
          (change)="changeName($event)"
        />
      </div>
      <div>
        <label for="name">Edad:</label>
        <input
          type="number"
          [value]="person().age"
          (change)="changeAge($event)"
        />
      </div>
      <div class="d-flex">
        <button class="btn" (click)="clickHandler()">Click me</button>
        <button class="btn ml-1r" (dblclick)="clickHandler()">
          Double Click
        </button>
      </div>

      <div>
        <p>Hola, soy {{ person().name }} y mi edad es {{ person().age }}</p>
      </div>
      <div>
        <h3>Old "ngIf"</h3>
        <div class="pb-1r">
          <div *ngIf="1 === 1">Soy <strong>1 (uno)</strong>, con "ngIf"</div>
          <div *ngIf="1 !== 1">No soy <strong>1 (uno)</strong>, con "ngIf"</div>
        </div>
        <div>
          <div
            *ngIf="person().name === 'Luis' && person().age > 18; else miBloque"
          >
            Soy {{ person().name }} y soy mayor de 18
          </div>
          <ng-template #miBloque>
            Soy {{ person().name }} y soy menor de 19
          </ng-template>
        </div>
      </div>
      <div>
        <h3>New "If"</h3>
        <div class="pb-1r">
          @if(1 === 1) {
          <div>Soy <strong>1 (uno)</strong>, con "if"</div>
          } @else {
          <div>No soy <strong>1 (uno)</strong>, con "if"</div>
          }
        </div>
        <div>
          @if(person().name === 'Luis' && person().age > 18) {
          <div>Soy {{ person().name }} y soy mayor a 18</div>
          } @else {
          <div>Soy {{ person().name }} y soy no soy mayor a 18</div>
          }
        </div>
      </div>
    </div>
    <!-- end Condicional IF con Objeto -->
    <!-- start Condicional Switch -->
    <div class="p-1r border">
      <h2>Condicional Switch</h2>

      <div>
        <p class="m-0">(keydown)</p>
        <input
          type="text"
          [value]="person().name"
          (keydown)="keydownHandler($event)"
        />
        <p class="m-0 mt-1r">(keydown.shift)</p>
        <input
          type="text"
          [value]="person().name"
          (keydown.shift.t)="clickHandler()"
        />
      </div>

      <div>
        <h3>Old "Switch"</h3>
        <div>
          <div [ngSwitch]="person().name">
            <p *ngSwitchCase="'luis'">Yo soy luis</p>
            <p *ngSwitchCase="'julian'">Yo soy julian</p>
            <p *ngSwitchCase="'ana'">Yo soy ana</p>
            <p *ngSwitchCase="'valentina'">Yo soy valentina</p>
            <p *ngSwitchDefault>Yo no soy nadie</p>
          </div>
        </div>
      </div>

      <div>
        <h3>New "Switch"</h3>
        @switch (person().name) { @case ('Luis') {
        <p>Yo soy Luis</p>
        } @case ('julian') {
        <p>Yo soy julian</p>
        } @case ('ana') {
        <p>Yo soy ana</p>
        } @case ('valentina') {
        <p>Yo soy valentina</p>
        } @default {
        <p>Yo no soy nadie</p>
        } }
      </div>
    </div>
    <!-- end Condicional Switch -->
    <!-- start Formularios Reactivos -->
    <div class="p-1r border">
      <h2>Reactive Forms</h2>
      <div>
        <input type="color" [formControl]="colorCtrl" />
        <p>Color: {{ colorCtrl.value }}</p>
      </div>
    </div>
    <!-- end Formularios Reactivos -->
    <!-- start Condicional Bucles -->
    <div class="p-1r border">
      <h2>Bucles</h2>
      <div>
        <h3>Old "For": "ngFor"</h3>
        <div>
          <ul>
            <li *ngFor="let task of tasksSimples">
              {{ task }}
            </li>
          </ul>

          <ul>
            <li *ngFor="let task of tasks">
              {{ task.title }} ({{
                task.completed ? "Completada" : "Pendiente"
              }})
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h3>New "For"</h3>
        <div>
          <ul>
            @for(task of tasksSimples; track task; let i = $index) {
            <li>{{ i }} {{ task }}</li>
            } @empty {
            <li><strong>La lista esta en vacio</strong></li>
            }
          </ul>

          <ul>
            @for(task of tasks; track task; let i = $index) {
            <li>
              {{ i }} {{ task.title }} ({{
                task.completed ? "Completada" : "Pendiente"
              }})
            </li>
            } @empty {
            <li><strong>La lista esta en vacio</strong></li>
            }
          </ul>
        </div>
      </div>
    </div>
    <!-- end Condicional Bucles -->
    <!-- start Others -->
    <div class="p-1r border">
      <h2>Others</h2>
      <div>
        <h4>Test Signals</h4>
        <p class="m-0">(change)</p>
        <input
          type="text"
          [value]="nameSignal()"
          (click)="changeHandlerSignal($event)"
        />
        <p class="m-0">(keydown)</p>
        <input
          type="text"
          [value]="nameSignal()"
          (keydown)="changeHandlerSignal($event)"
        />
        <p>nameSignal: {{ nameSignal() }}</p>
      </div>
      <div style="display: flex; justify-content: space-around">
        <div>
          <h4>{{ "Hola".repeat(5) }}</h4>
          <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
        </div>
      </div>
    </div>
    <!-- end Others -->
  </div>
</div>
